<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/Login.css' %}" media="screen" title="no title">
</head>
<body>
<!-- 灰色的背景 -->
<div class="ui view">
    <!-- 中间的白色部分 -->
    <form class="ui form" action="{% url 'login' %}" method="post">
        {% if form.errors %}
            <p>
               用户名与密码不匹配
            </p>
        {% else %}
            <p>请按照表单填写并登录 </p>
        {% endif %}
        <div class="ui text menu">
            <div class="menu login">
                登录
            </div>
            <div class="ui image close_right">
                <img src="/static/image/close_icon2.png" alt=""/>
            </div>
        </div>
        <div class="ui view yellow_login"></div>
        <div class="ui divider"></div>
        <div class="field">
             {{ form.as_p }}
             {% csrf_token %}

        </div>
        <div class="field">
             <input type="hidden" name="next" value="{{ next }}"/>
        </div>
        <div class="inline field">
            <div class="ui checkbox checked">
                <input type="checkbox" tabindex="0">
                <label>记住我</label>
            </div>
            <button class="ui button forget" href="{% url "password_reset" %}">
                忘记密码？
            </button>
        </div>

        <button type="submit" class="ui circular right button">
            登录
            <i class="chevron inverted right icon"></i>
        </button>

    </form>
</div>
</body>
</html>

