{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/myinfo.css' %}" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">

</head>
<body>
<div class="ui inverted top fixed menu borderless red menu">
    <div class="header item">
        <div class="ui image">
            <img src="{% static 'img/images/tenlogo.png' %}" alt="">
        </div>
    </div>

    <div class="right menu">
        <div class="item">
            <h5 class="ui inverted header">
                <div class="ui mini circular image">
                    <img src=" {{ profile.photo.url }}" alt="">
                </div>

                <span>{{ user.username }}</span>

            </h5>
        </div>
        <div class="item">

            <a href="#logout/" class="ui inverted circular button">Logout</a>

        </div>
    </div>
</div>
<div class="ui  raised container segments">
    <div class="ui head basic segment" style="background-image: url('images/bg.png');">
        <div class="ui circular image cover">
            <img src="{{ profile.photo.url }}"
                 alt=""/>
        </div>


    </div>
    <div class="ui bottom inverted  six item attached menu">

        <div class="active item">
            个人资料
        </div>
        <div class="item">
            我赞过的
        </div>
    </div>

    <div class="ui butt segment" style="height: 650px">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">✖</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}

        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
</div>
</div>
</body>
</html>
