{% extends "base.html" %}
{% load static %}
{% block title %}
    list
{% endblock %}

{% block content %}
    <div id="navbar-top" class="navbar-top navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="/static/image/logo.png"><a href="/" class="navbar-brand" style="height: 10px">校园租</a>
                <!--<img src="/assets/img/bl.png">-->
            </div>
            <p class="navbar-text navbar-right co-brand hidden-xs"><img src="/static/image/logo.png"></p>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">您好 {{ request.user }} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url "logout" %}">注销</a></li>
                {% else %}
                    <li><a href="{% url "login" %}">登录</a></li>
                    <li><a href="{% url "logout" %}">注册</a></li>{% endif %}
            </ul>
        </div>
    </div>
    <header id="top-header" class="top-header jumbotron"
            style="background-image: url('/static/image/banner_bg.png'); background-repeat: no-repeat;background-size: cover">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header">
                        <h1>租房网</h1>
                        <p class="lead">好房子都在这里啦！</p>
                    </div>
                    <div class="features media">
                        <p class="media-left">快捷入口：</p>
                        <div class="media-body">
                            <p class="coms">
                                <a target="_blank" href="#"
                                   class="label label-default label-ali">阿里</a>
                                <!-- <a href="/company/腾讯" class="label label-default label-tencent" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '腾讯'])">腾讯</a> -->
                                <a target="_blank" href="#"
                                   class="label label-default label-baidu">百度</a>
                                <a target="_blank" href="http://company.liepin.com/3264402?mscid=b_o_0001"
                                   class="label label-default label-sina"
                                   onclick="_hmt.push(['_trackEvent', 'coms', 'click', '金山'])">金山</a>
                                <a target="_blank" href="http://company.liepin.com/856639?mscid=b_o_0001"
                                   class="label label-default label-sohu"
                                   onclick="_hmt.push(['_trackEvent', 'coms', 'click', '迅雷'])">迅雷</a>
                                <a target="_blank" href="http://company.liepin.com/6429309?mscid=b_o_0001"
                                   class="label label-default label-360"
                                   onclick="_hmt.push(['_trackEvent', 'coms', 'click', '360'])">360</a>
                                <!-- <a href="/company/小米" class="label label-default label-xiaomi" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '小米'])">小米</a> -->
                                <a target="_blank" href="http://company.liepin.com/947003?mscid=b_o_0001"
                                   class="label label-default label-lenovo"
                                   onclick="_hmt.push(['_trackEvent', 'coms', 'click', '畅游'])">畅游</a>
                            </p>
                            <p class="salary">
                                <a href="/salary/10" class="label label-default"
                                   onclick="_hmt.push(['_trackEvent', 'salary', 'click', '10万起'])">10万起</a>
                                <a href="/salary/20" class="label label-default"
                                   onclick="_hmt.push(['_trackEvent', 'salary', 'click', '20万起'])">20万起</a>
                                <a href="/salary/30" class="label label-default"
                                   onclick="_hmt.push(['_trackEvent', 'salary', 'click', '30万起'])">30万起</a>
                                <a href="/salary/50" class="label label-default"
                                   onclick="_hmt.push(['_trackEvent', 'salary', 'click', '50万起'])">50万起</a>
                                <a href="/salary/土豪" class="label label-default"
                                   onclick="_hmt.push(['_trackEvent', 'salary', 'click', '土豪'])">土豪</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div id="sidebar">
                        <h3>Categories</h3>
                        <ul class="nav nav-pills nav-stacked" role="tablist">
                            <li {% if not category %}class="selected"{% endif %}>
                                <a href="{% url "shop:product_list" %}">All</a>
                            </li>
                            {% for c in categories %}
                                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <div id="main" class="product-list">
                        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
                        <div class="row">
                            {% for product in products %}
                                <div class="col-sm-6 col-md-4">

                                    <div class="thumbnail">
                                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                                        <div class="caption">
                                            <h3>{{ product.name|linebreaks|truncatechars:20 }}</h3>
                                            <h6> ${{ product.price }}</h6>
                                            <p>{{ product.description|truncatechars_html:30 }}</p>
                                            <p>
                                                <a href="{{ product.get_absolute_url }}" class="btn btn-primary"
                                                   role="button">详细信息</a>
                                                <a href="#" role="button">Button</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>{% endfor %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                        <!-- Optional: clear the XS cols if their content doesn't match in height -->
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                    </div>

                </div>
            </div>
        </div>
    </div>




{% endblock %}